main{
    background-color: khaki;
    min-height: 400px;
    margin: 5px;
    max-width: 500px;
    padding: 5px;
}
.dkhv{
    background-color: aquamarine;
    min-height: 30px;
    max-height: 50px;
    max-width: 590px;
    margin: 0px;
    padding: 1px;
}
h1{
    color: blue;
    font-size: 25px;
    text-align: left;
    margin: 1px;
}